<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krtshk</title>
</head>

<body>
    <h2>Коротышка</h2>
    <div>
        @RenderBody()
    </div>
</body>

</html>