@page

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Krtshk.Pages.IndexModel

<h2>Krtshk</h2>

<form method="post" asp-antiforgery="true">
    <p>
        <label>Type URL</label>
        <input type="url" name="url" required>
    </p>
    <input type="submit" value="Send">
</form>

<input type="text" id="output" value="@Model.ShortUrl" disabled>
@if (!string.IsNullOrEmpty(@Model.ShortUrl))
{
    <button onclick="copyText()">Copy Text</button>
}

<script>
    function copyText() {
        var copyText = document.getElementById("output").value;
        navigator.clipboard.writeText(copyText);
    }
</script>