@page

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Krtshk.Pages.IndexModel

<h2>Коротышка</h2>

<p>Превращает длинные и неудобные ссылки в короткие и запоминающиеся, чтобы ими было проще делиться!</p>

<form method="post" asp-antiforgery="true">
    <p>
        <input placeholder="Введите ссылку, которую нужно сократить" type="url" name="url" required>
    </p>
    <input type="submit" value="Сократить">
</form>

<input placeholder="Здесь будет короткая ссылка" type="text" id="output" value="@Model.ShortUrl" disabled>
@if (!string.IsNullOrEmpty(@Model.ShortUrl))
{
    <button onclick="copyText()">Копировать</button>
}

<script>
    function copyText() {
        var copyText = document.getElementById("output").value;
        navigator.clipboard.writeText(copyText);
    }
</script>